<div class="col-md-6 mx-auto">

    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="text-center mb-0"><%= t('registration.header') %></h3>
        </div>

        <div class="card-body text-center">
            <%= render "form", :user_type => "admin" %>
        </div>
       
    </div>

</div>
